.NB{
  display: grid;  
  position: fixed ;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.h{
    grid-area: 1 / 1 / 2 / 2;
    text-decoration: none;
    color: rgba(28, 192, 241, 0.959);
    font-weight: 600;
    letter-spacing: 0.8px;
  
}

.v{
    grid-area: 1 / 5 / 2 / 6;
    color: rgba(28, 192, 241, 0.959);
    font-weight: 600;
    letter-spacing: 0.8px; 
    margin-right: 10px;   
    margin-top: 45px;
    height: min-content;
    grid-area: 1 / 5 / 2 / 6;
}

.sb{
  height: min-content;
}

.filter{
  height: min-content;
}



